<form>
    <p>Albatross is still in development and is expected to be released in coming months.
        Follow us on twitter for updates</p>
    <a href="https://twitter.com/albatrosssoft" class="twitter-follow-button" data-show-count="true">Follow @AlbatrossSoft</a>
    <script>!function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'twitter-wjs');</script>

</form>